*{
    margin: 0;
}
p{
    font-size: 1rem;
}
.container{
    display: grid;
    grid-template-columns: 100px 130px;
    background-color: blueviolet;
}
.grid-item{
    background-color: beige;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    column-gap: 5px;
    padding: 10px;
    justify-content: space-between;
}
.nav-item{
    background-color: bisque;
}
.nav-item-container{
    display: flex;
    column-gap: 5px;
}
.sharp-init{
    font-size: 2rem;
    background-color: blue;
}
.sharp-text{
    font-size: 2rem;
    color: bisque;
}